@use 'sass:math';

.container {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  background-color: rgba(0, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 25px;
  box-shadow: 0 8px 32px rgba(0, 255, 255, 0.2);
  border: 1px solid rgba(0, 255, 255, 0.3);
  width: 100%;
  max-width: 650px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d; // Améliore la gestion 3D
  will-change: transform; // Optimise les performances du scaling
  position: relative;
  z-index: 2; // Place le texte au-dessus

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 40px rgba(0, 255, 255, 0.4);
  }
}


.button {
  background-color: transparent;
  border: none;
  color: #00faff;
  padding: 0;
  padding-left: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  box-shadow: 0 4px 15px rgba(0, 255, 255, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 25px rgba(0, 255, 255, 0.4);
  }

  &:active {
    transform: scale(0.95);
  }
}

.volumeControl {
  display: flex;
  align-items: center;
}

.volumeButton {
  background-color: transparent;
  border: none;
  color: #00faff;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }
}

.progress,
.volumeSlider {
  width: 100%;
  margin: 0 10px;
  background-color: rgba(0, 255, 255, 0.15);
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  height: 8px;
  appearance: none;
  transition: background-color 0.3s ease;

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: rgba(0, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
  }

  &::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: rgba(0, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(0, 255, 255, 0.9);
    cursor: pointer;
    box-shadow: 0 2px 12px rgba(0, 255, 255, 0.3);
    margin-top: calc((8px - 16px) / 2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.2);
      box-shadow: 0 4px 18px rgba(0, 255, 255, 0.5);
    }
  }

  &::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(0, 255, 255, 0.9);
    cursor: pointer;
    box-shadow: 0 2px 12px rgba(0, 255, 255, 0.3);
    margin-top: calc((8px - 16px) / 2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.2);
      box-shadow: 0 4px 18px rgba(0, 255, 255, 0.5);
    }
  }
}

.volumeSlider {
  width: 70px;
} // Allongé pour rendre la barre de volume plus visible

.waveAnimation {
    will-change: transform, opacity;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.25) 10%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.2) 100%);
    border-radius: 30%;
    filter: blur(10px) saturate(120%);
    animation: floating 8s ease-in-out infinite, fadeInOut 8s infinite;
    pointer-events: none;
    opacity: 0.5;
    transition: opacity 1.5s ease-in-out;
    z-index: -2; // Place la vague en dessous
  }
  
  @keyframes floating {
    0%, 100% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(1.01); // Scale réduit
    }
  }  
  
  @keyframes fadeInOut {
    10%, 90% {
      opacity: 0.3; /* Opacité minimale de 0.1 */
    }
    50% {
      opacity: 0.6;
    }
  }

