.vantaBackground {
    opacity: 0;
    transition: opacity 1s; // Par défaut, le fade out est rapide

    &.vantaBackgroundVisible {
        opacity: 0.5;
        transition: opacity 10s; // La durée du fade in est plus longue
    }

    &.fadeOut {
        opacity: 0;
        transition: opacity 1s; // La durée du fade out est plus courte
    }
}
