.hover {
    transition: var(--transition-property) var(--transition-duration-micro-medium) var(--transition-timing-function);
    padding: 0 1rem;
    margin-left: 2rem;

    &:hover {
        transform: translateX(var(--static-space-8));

        .indicator {
            transform: rotate(0);
        }
    }
}

.indicator {
    transform: rotate(-90deg);
    left: -2rem;
    transition: var(--transition-property) var(--transition-duration-micro-medium) var(--transition-timing-function);
}